body {
  font: normal 100%/2  Arial, Helvetica, sans-serif;
  user-select: none;
}

/* * {
    box-sizing: border-box;
} */

/* Layout */

.msg {
  width: auto;
  max-width: 320px;
  display: inline-block;
  float: right;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  background: #797e87;
  padding: 0px 10px;
  margin-top: 10px;
  clear: both;
}

.chat {
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 3px;
  color: #fff;
}

.time {
  line-height: 10px;
  padding-bottom: 3px;
  font-size: 10px;
  color: #e0e0eb;
  text-align: right;
}

/* General */

h1 {
  text-align: center;
}

p {
  margin: 0;
}
